*

!.gitignore
!README.md

!GameEngineData
!GameEngineData/Routines
!GameEngineData/Routines/BASE_4_5
!GameEngineData/Routines/BASE_4_5/**/*

!Modules
!Modules/**/*

!Patch Tips
!Patch Tips/**/*
!FIXES.md
